[mysqld]
# Log slow queries to a table or log file. Defaults logging
# to a file hostname-slow.log or a table mysql.slow_log if
# --log-output=TABLE is used. Must be enabled to activate
# other slow log options
slow_query_log = 1

# Log slow queries to given log file. Defaults logging to
# hostname-slow.log. Must be enabled to activate other slow
# log options
slow_query_log_file = /var/log/mysql/slow.log

# Log all queries that have taken more than long_query_time
# seconds to execute to file. The argument will be treated
# as a decimal value with microsecond precision
long_query_time = 0.01
